body {
  background-color: #1a1a1a;
  font-family: verdana;
}

/* members table */

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.members-table th, .members-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.member-alive {
  background-color: #cce3de
}

.member-dead {
  background-color: grey
}

.actions {
  display: flex;
  gap: 10px;
}

/* buttons */

.btn {
  padding: 6px 12px;
  color: white;
  background-color: #007bff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-add {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-add:hover {
  background-color: #218838;
}

.btn-delete {
  padding: 6px 12px;
  color: white;
  background-color: #ff5733;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
}

.btn-delete:hover {
  background-color: #c7442b;
}

.grand-ancestor {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid color;
  border-radius: 50%;

  /* Centering content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Optional: for multi-line text to be centered as well */
  text-align: center;
}

.member-parent {
  width: 250px;
  height: 250px;
  background-color: orange;
  border: 1px solid color;
  border-radius: 50%;

  /* Centering content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Optional: for multi-line text to be centered as well */
  text-align: center;
}

.member-sibling {
  background-color: green
}

.member-child {
  background-color: lightblue
}