{% extends "master.html" %}

{% block title %}
  My Family - List of all members
{% endblock %}

{% block content %}

  <p><a href="/">HOME</a></p>

  <h1>Members</h1>

  <ul>
    {% for x in mymembers %}
    <li>
      <a href="{% url 'members:details' x.id %}">{{ x.firstname }} {{ x.lastname }}</a>
      <a href="{% url 'members:edit' x.id %}">Update</a>
      <a href="{% url 'members:remove' x.id %}">Delete</a>
    </li>
    {% empty %}
      <li>No members</li>
    {% endfor %}
    <a href="{% url 'members:add' %}">Add new member</a>
  </ul>
{% endblock %}