<h1>Members</h1>

<table class="members-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Alive?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for member in all_members %}
    <tr class="{% if member.alive == 'Yes' %}member-alive{% else %}member-dead{% endif %}">
      <td>
        {{ member.id }}
      </td>
      <td>
        <a href="{% url 'members:details' member.id %}">
          {{ member }}
        </a>
      </td>
      <td>
        {% if member.sex == 'm' %}
          Male
        {% else %}
          Female
        {% endif %}
      </td>
      <td>
        {{ member.alive }}
      </td>
      <td class="actions">
        {% include "edit_button.html" %}
        {% include "delete_button.html" %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No members</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "add_button.html" %}

<style>
  .members-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .members-table th, .members-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .member-alive {
    background-color: #cce3de
  }

  .member-dead {
    background-color: grey
  }

  .actions {
    display: flex;
    gap: 10px;
  }
</style>
