{% extends "master.html" %}

{% block title %}<h1>Members</h1>{% endblock %}

{% block content %}

<form method="get" action="">
    {{ filter.form.as_p }}

    <button type="submit">Filter</button>
    <a href="{% url 'members:members' %}">Clear</a> <!-- Clear Filters -->
</form>

{% include "add_button.html" %}

<p>Total members: {{ all_members.count }}</p>
<table class="members-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Family Name</th>
<!--      <th>Spouse</th>-->
      <th>Sex</th>
      <th>Birthday</th>
      <th>Age</th>
      <th>Alive?</th>
      <th>Death date</th>
      <th>Number of children</th>
<!--      <th>Father</th>-->
<!--      <th>Mother</th>-->
    </tr>
  </thead>
  <tbody>
    {% for member in all_members %}
    <tr class="{% if member.alive == 'Yes' %}member-alive{% else %}member-dead{% endif %}">
      <td>
        {{ member.id }}
      </td>
      <td>
        <a href="{% url 'members:details' member.id %}">
          {{ member }}
        </a>
      </td>
      <td>
        {{ member.family_name }}
      </td>
<!--      <td>-->

<!--        {% if member.current_spouse %}-->
<!--            <a href="{% url 'members:details' member.current_spouse.pk %}" >{{ member.current_spouse }}</a>-->
<!--        {% else %}-->
<!--            - -->
<!--        {% endif %}-->
<!--      </td>-->
      <td>
        {% if member.sex == 'm' %}
          Male
        {% else %}
          Female
        {% endif %}
      </td>
      <td>
        {{ member.age|default_if_none:"-" }}
      </td>
      <td>
        {{ member.birth_date|default_if_none:"-" }}
      </td>
<!--      <td>-->
<!--        {{ member.alive }}-->
<!--      </td>-->
      <td>
        {{ member.death_date|default_if_none:"-" }}
      </td>
      <td>
        {% if member.children.count %}
          {{ member.children.count }}
        {% else %}
          -
        {% endif %}
      </td>
<!--      <td>-->
<!--        {% if member.father_id %}-->
<!--            <a href="{% url 'members:details' member.father_id %}" >{{ member.father }}</a>-->
<!--        {% else %}-->
<!--            - -->
<!--        {% endif %}-->
<!--      </td>-->
<!--      <td>-->
<!--        {% if member.mother_id %}-->
<!--            <a href="{% url 'members:details' member.mother_id %}" >{{ member.mother }}</a>-->
<!--        {% else %}-->
<!--            - -->
<!--        {% endif %}-->
<!--      </td>-->
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No members</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "add_button.html" %}

{% endblock %}
