{% extends "master.html" %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">{{ firstname }} {{ lastname }}</h1>
    {% if family_lastname != lastname %}
        <p>Family name: {{ family_lastname }}</p>
    {% endif %}
    <p>Sex: {{ sex }}</p>
    <p>Birth date: {{ birth_date }}</p>
    <p>Alive: {{ is_alive }}</p>
    {% if not is_alive %}
        <p>Death date: {{ death_date }}</p>
    {% endif %}

    <p>Number of children: {{ children_num }}</p>
    {% if father_id %}
        <p><a href="/members/details/{{ father_id }}" >Father</a></p>
    {% else %}
        <p>Nobody remembers the father</p>
    {% endif %}

    {% if mother_id %}
        <p><a href="/members/details/{{ mother_id }}" >Mother</a></p>
    {% else %}
        <p>Nobody remembers the mother</p>
    {% endif %}

    <p>Back to <a href="/members">Members</a></p>
{% endblock %}
