{% extends "master.html" %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">{{ member.firstname }} {{ member.lastname }}</h1>
    {% if member.family_lastname != member.lastname %}
        <p>Family name: {{ member.family_lastname }}</p>
    {% endif %}
    <p>Sex: {{ member.sex }}</p>
    <p>Birth date: {{ member.birth_date }}</p>
    <p>Alive: {{ member.is_alive }}</p>
    {% if not member.is_alive %}
        <p>Death date: {{ member.death_date }}</p>
    {% endif %}

    <p>Number of children: {{ member.children_num }}</p>
    {% if member.father_id %}
        <p><a href="{% url 'members:details' member.father_id %}" >Father</a></p>
    {% else %}
        <p>Nobody remembers the father</p>
    {% endif %}

    {% if member.mother_id %}
        <p><a href="{% url 'members:details' member.mother_id %}" >Mother</a></p>
    {% else %}
        <p>Nobody remembers the mother</p>
    {% endif %}

    {% include "edit_button.html" %}
    <p>Back to <a href="/members">Members</a></p>
{% endblock %}
